.ball {
    border: 3px solid;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 50px;
}

.border-color-black {
    border-color: black;
}

.border-color-blue {
    border-color: black;
}

.border-color-red {
    border-color: black;
}

.signal-container {
    display: flex;
    margin-top: 72px;
    width: 500px;
    height: 300px;
    justify-content: space-between;
    align-items: center;
}

.symbol-sign {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.strike-symbol-sign {
    font-size: 48px;
    margin-top: 12px;
}

.ball-symbol-sign {
    font-size: 48px;
    margin-bottom: 4px;
}

.out-symbol-sign {
    font-size: 48px;
    margin-bottom: 20px;
}