.validation-form-container {
    display: flex;
    flex-direction: column;
    /* width:400px; */
    margin-left: 12px;
}

input {
    height: 24px
}

.validation-text-input {
    width: 100%;
}

.input-box {
    border-color: #8A8A8E !important
}

.error-message {
    color: red;
    font-size: 14px
}

.proper-message {
    color : #4EE87A;
    font-size: 14px
}