.game-start-button {
    width: 200px;
    height:40px;
    font-size:large;
}

.game-name {
    font-size: 40px;
    font-weight: 700;
}

input[type="radio"] {
    margin-top: -4px;
    margin-left: 4px;
    vertical-align: middle;
  }