.division-line {
    width: 100%;
    border-bottom: 3px solid rgb(232, 229, 234);
}

.width-big {
    width : 10000px
}

.ranking-container {
    display: flex;
    width: 100%;
    height: 30%;
    /* height: 100%; */
    align-items: center;
    justify-content: center;
    background-color: rgb(13, 38, 59);
}

.Ranking-form {
    /* background-color: burlywood; */
    align-items: center;
    /* justify-content: space-evenly; */
}

.ranking-place {
    width: 100%;
    height: 55%;
    background-color: white;
}

.rank-container-wrap {
    display: flex;
    flex-direction: column;
    font-size: large;
    text-align: center;
    width: 400px;
    /* background-color: red; */
    justify-content: space-between;
    margin-top: 120px;
    /* padding-top: 200px; */
    align-items: center;
}

.ranking-font {
    font-weight: 700;
}

.BackArrow {
    left: 500px
}

.category {
    display: flex;
    width: 400px;
    justify-content: space-around;
    /* margin-left: 100px; */
    /* background-color: aqua; */
    /* justify-content: space-evenly   ; */
}

.rank-score-nickname-container {
    display: flex;
    width: 400px;
    /* align-items: center; */
    justify-content: space-around;
    margin-left: 32px;
    /* background-color: aqua; */
}

.BackArrow {
    margin-top: 24px;
    width: 44px;
    height: 44px
}

.Header {
    padding-top: 20px;
}

/* .category-rank {
    margin-left: 52px;
} */

.highest-container {
    display: flex;
    flex-direction: column;
}

.home-circle-button {
    background: lightblue;
    width: 100px;
    height: 100px;
    border-radius: 30%;
    position: relative;
    left: 47%;
    top: -50px;
    text-align: center;
    align-items: center;
    font-size: x-large;
    font-weight: 600;
    /* box-shadow: lightblue; */
    box-shadow: darkblue;
}

.nickname-score-space {
    padding-right: 120px;
}

.rank-space {
    position: absolute;
    left: 100px
}