.Home{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    height: 100vh;
}

h1{
    font-size: 40px;
    margin-bottom: 88px;
}

.HomeButton{
    font-size: 40px;
    border-radius: 5px;
    background-color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.End{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    height: 100vh;
}

.EndMiddle{
    display: flex;
    align-items: center;
    margin-bottom: 52px;
}

.EndText{
    font-size: 40px;
}

.EndImage{
    width: 100px;
}

.EndButton{
    font-size: 40px;
    border-radius: 5px;
    background-color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.Game{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    height: 100vh;
}

.GameHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.TimerImage{
    width: 88px;
    height: 88px;
    margin-right: 30px;
}

.TimerNum{
    font-size: 50px;
    margin-right: 50px;
}

.HeartImage{
    width: 108px;
    height: 108px;
}

.HeartText{
    font-size: 50px;
}

.GameContents{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.GameAnswer{
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    padding-left: 10px;
    margin-bottom: 50px;
    margin-right: 12px;
}

.GameTry{
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
}

.Out{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.OutText{
    font-size: 50px;
}

.OutCircle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px black solid
}

.Strike{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.StrikeText{
    font-size: 50px;
}

.StrikeCircle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px red solid;
}

.Ball{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.BallText{
    font-size: 50px;
}


.BallCircle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px green solid;
}