.game-section {
    width: 600px !important;
    height: 668px !important;
    border: black 3px solid !important;
    border-radius: 5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

