.dashBoard-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    margin-top: 32px;   
}

.text-mint {
    color : #4EE87A
}

.dashboard-item {
    display: flex;
    justify-content: center ;
    align-items: center;
}

.timer-image {
    width:100px;
    height: 100px;
}

.lifetime {
    margin-right: 10px;
}

.life-image {
    width:112px;
    height:112px;
}

.life {
    margin-left: -8px;
}

.progress-bar-full {
    width :1000px
}